.rectangle1 {
    width: 980px;
    height: 50px;
    background-color: #00FF7F;
    float:left;
    
}
.rectangle2 {
    width: 200px;
    height : 50px;
    background-color: #4169E1;
    float: left;
}
.rectangle3{
    width:400px;
    height:190px;
    background-color: #E8582E;
    float:left;
}
.rectangle4 {
    width:400px;
    height: 95px;
    background-color: #FF8C00;
    float: left;
}
.rectangle5{
    width:380px;
    height: 95px;
    background-color:#A9A9A9;
    float: left;
}
.rectangle6{
    width:260px;
    height: 95px;
    background-color:#FFFF00;
    float: left;
}
.rectangle7{
    width:260px;
    height: 95px;
    background-color: #40E0D0;
    float: left;
}
.rectangle8{
    width:260px;
    height: 95px;
    background-color:#DE6A1C;
    float: left;
}
.rectangle9{
    width:1180px;
    height: 400px;
    background-color:#004058;
}